/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--font-family), sans-serif;
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(calc(238px - var(--indent-block)), auto) min-content minmax(
      calc(238px - var(--indent-block)),
      auto
    );
  padding: var(--indent-block);
}

.header__theme-menu {
  display: grid;
  grid-column: span 2;
  align-items: center;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-item:has(.header__theme-menu-button:hover) {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-item:has(.header__theme-menu-button:focus) {
  border-bottom: 1px solid var(--theme-menu-item-color);
}

.header__theme-menu-item:has(.header__theme-menu-button:focus-visible) {
  border-bottom: 1px solid var(--theme-menu-item-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button {
  display: grid;
  justify-content: center;
  border: none;
  padding: 0px 13px;
  color: var(--theme-menu-item-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  text-transform: lowercase;
  background-color: transparent;
  block-size: 26px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--theme-menu-item-color);
  outline-offset: -1px;
  pointer-events: none;
}

.header_title {
  grid-column: span 2;
  color: var(--h1-color);
}

.header_title h1 {
  font-weight: bold;
  font-size: var(--font-size-mobile);
  line-height: 82.5%;
  text-shadow: var(--h1-text-shadow);
}

.header_text_position {
  display: grid;
  align-items: center;
}

.header_text {
  grid-column: 2;
}

.title-decor {
  color: var(--subtitle-text-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
}

.record {
  position: absolute;
  top: var(--indent-block);
  right: var(--indent-block);
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.record::after {
  content: "";
  display: block;
  margin: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  inline-size: 9px;
  block-size: 9px;
}

.corned::before,
.corned::before {
  content: "";
  position: absolute;
  bottom: var(--indent-block);
  left: var(--indent-block);
  display: block;
  border-bottom: 1px solid var(--corned-color);
  border-left: 1px solid var(--corned-color);
  inline-size: 25px;
  block-size: 25px;
}

.corned::after,
.corned::after {
  content: "";
  position: absolute;
  top: var(--indent-block);
  right: var(--indent-block);
  display: block;
  border-top: 1px solid var(--corned-color);
  border-right: 1px solid var(--corned-color);
  inline-size: 25px;
  block-size: 25px;
}

.block_content {
  display: grid;
  gap: 50px;
  padding: 40px var(--indent-block);
  background-color: var(--section-backround-color);
}

.main_content {
  display: grid;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.section_title_color {
  color: var(--section_title_color);
}

.content_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.5px;
  inline-size: 100%;
}
.content_text {
  padding-top: 10px;
  color: var(--section-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.content_text_link {
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.content_text_link:hover {
  border-bottom: 2px solid var(--section-text-color);
}

.content_text_link:focus {
  outline-color: inherit;
  outline-offset: 3px;
}

.content_text_link:focus-visible {
  border-radius: 0;
  outline-color: inherit;
  outline-offset: 3px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}
.content_name_regular {
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-top: 10px;
}

.gallery_item {
  height: 100%;
  object-fit: cover;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: var(--indent-block);
  background-color: var(--section-backround-color);
  min-block-size: var(--footer-size);
}

.item_focus_title {
  color: var(--h2-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: var(--h2-text-shadow);
}

@media (width >= 768px) {
  .header {
    grid-template-rows: minmax(
        calc(462px - calc(2 * var(--indent-block))),
        auto
      ) min-content minmax(calc(462px - calc(2 * var(--indent-block))), auto);
    padding: calc(2 * var(--indent-block));
  }

  .header_title {
    margin-left: calc(-1 * calc(2 * var(--indent-block)));
  }

  .header_title h1 {
    font-size: var(--font-size-desktop);
  }

  .header_text_position {
    grid-template-columns: 1fr 1fr;
  }

  .header_text {
    grid-column: 2;
  }

  .record {
    top: calc(2 * var(--indent-block));
    right: calc(2 * var(--indent-block));
  }

  .corned::before,
  .corned::before {
    bottom: calc(2 * var(--indent-block));
    left: calc(2 * var(--indent-block));
  }

  .corned::after,
  .corned::after {
    top: calc(2 * var(--indent-block));
    right: calc(2 * var(--indent-block));
  }

  .block_content {
    gap: 80px;
    padding: 60px calc(2 * var(--indent-block));
  }

  .main_content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content {
    grid-column: 2 / 4;
  }

  .reset-colums h3 {
    grid-column: 1;
  }

  .reset-colums .content {
    grid-column: 1 / 4;
  }
  .about {
    grid-column: 2 / 4;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .pictures_title {
    grid-column: 1 / 4;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
    gap: 20px;
    padding-top: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 /3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    padding: calc(2 * var(--indent-block));
    block-size: 1024px;
  }

  .item_focus_title {
    font-size: var(--font-size-desktop);
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: minmax(
        calc(319px - calc(2 * var(--indent-block))),
        auto
      ) min-content minmax(calc(319px - calc(2 * var(--indent-block))), auto);
  }

  .header__theme-menu {
    align-items: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-content: center;
    gap: 10px;
  }

  .header_text {
    grid-column: 2;
    word-spacing: -1px;
  }

  .reset-colums h3 {
    grid-column: 1 / 4;
  }

  .reset-colums .content {
    grid-column: initial;
  }

  .footer {
    block-size: 768px;
  }
}
