/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --accent-color: #FF0070;
  --padding-block: 10px;
  --section-text-color: #F1B2CE;
  --section-backround-color: #000028;
}
